/.bundle
/.env
/.env.*
!/.env.example
/config/master.key
/config/credentials/*.key
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
/.scratch/learn-briefly/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets
/storage/*
!/storage/.keep
